<h1>Archive</h1>

<table class="psc_table">
	
	
	
	<tr class="psc_tr">
		<th class="psc_th">Id</th>
		<th class="psc_th">Date</th>
		<th class="psc_th">Number</th>
		<th class="psc_th">Title</th>
		<th class="psc_th">Categories</th>
		<th class="psc_th">Location</th>
		<th class="psc_th">Responsible</th>
		<th class="psc_th">Description</th>
	</tr>
	
	<!-- lw:blockstart appointments -->
	
	<tr class="<!-- lw:var rowclass -->">
		<td class="psc_td"><!-- lw:var id --></td>
		<td class="psc_td"><!-- lw:var dates --></td>
		<td class="psc_td"><!-- lw:var number --></td>
		<td class="psc_td"><!-- lw:var title --></td>
		<td class="psc_td"><!-- lw:var categories --></td>
		<td class="psc_td"><!-- lw:var location --></td>
		<td class="psc_td"><!-- lw:var responsible --></td>
		<td class="psc_td"><!-- lw:var description --></td>
	</tr>
	
	<!-- lw:blockend appointments -->
	
</table>