<h1>Employee</h1>


<div class="buttonlist" style="padding-bottom:10px;">
	[<a href="<!-- lw:var cancelurl -->">back to List</a>]
</div>

<form name="theform" id="theform" action="<!-- lw:var actionurl -->" method="post">
<input type="hidden" name="user_id" value="<!-- lw:var user_id -->">
<input type="hidden" name="emp_id" value="<!-- lw:var emp_id -->">


<div class="psc_title">
	Firstname
</div>
<div class="psc_input">
	<input class="psc_ta" type="text" name="firstname" value="<!-- lw:var firstname -->">
</div>

<div class="psc_title">
	Lastname
</div>
<div class="psc_input">
	<input class="psc_ta" type="text" name="lastname" value="<!-- lw:var lastname -->">
</div>

<div class="psc_title">
	&nbsp;
</div>
<div class="psc_input">
	<input type="submit" value="Save">
</div>



</form>