<h1>Partner Management</h1>

<table class="psc_table" style="width:500px;">
	<tr class="psc_tr">
		<th class="psc_th" style="width:50px;">&nbsp;</th>
		<th class="psc_th" style="width:150px;">User</th>
		<th class="psc_th"style="width:150px;">activated</th>
	</tr>
	
	<!-- lw:blockstart users -->
	
	<tr class="<!-- lw:var rowclass -->">
		<td class="psc_td" style="text-align:center;">[<a href="<!-- lw:var userlink -->">edit</a>]</td>
		<td class="psc_td" ><!-- lw:var username --></td>
		<td class="psc_td"><!-- lw:var status --></td>
	</tr>
	
	<!-- lw:blockend users -->
	
</table>